# Ignore All
/*

# Except:
!.zshrc
!.gitignore
!/.config
# Filter the files in .config
/.config/*

!/.config/lvim
/.config/lvim/*
!/.config/lvim/config.lua

!/.config/i3
!/.config/picom
!/.config/ranger
!/.config/alacritty
!/.config/neofetch
!/.config/polybar
!/.config/clipit
!/.config/clash
!/.screenlayout/
!/dotfiles-wiki



