/neovim/.config/nvim/lazy-lock.json
# ignore all dirs under dic but preserve files
/stardict/.stardict/dic/*/
# ignore yazi plugin files
/yazi/.config/yazi/plugins/
/yazi/.config/yazi/flavors/
# ignore mihomo related files
/clash/.config/clash/cache.db
/clash/.config/clash/metacubexd/
