"base
set showmode
set showcmd
set relativenumber

"Clipboard
set clipboard+=unnamed
set clipboard+=ideaput

"Leader key
let mapleader=" "

"Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>

"Window Navigation
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
" - switch windows
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" - manipulate buffers(tabs)
nnoremap <s-h> :action PreviousTab<CR>
nnoremap <s-l> :action NextTab<CR>
nnoremap <leader>c :action CloseContent<CR>

"Which Key
set which-key
set notimeout
set timeoutlen=5000

"Easy Motion
Plug 'easymotion/vim-easymotion'
set easymotion
noremap s <Nop>
" Press the leader key twice before using the mapping
nnoremap s <Plug>(easymotion-jumptoanywhere)

"Editing Code
" - using Shift-j to merge two lines in a smart way
set ideajoin

nnoremap <leader>/ :action CommentByLineComment<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>w :w<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap / :action Find<CR>

inoremap <a-j> <DOWN>
inoremap <a-k> <UP>
inoremap <a-h> <LEFT>
inoremap <a-l> <RIGHT>
inoremap jj <Esc>

vnoremap <leader>/ :action CommentByLineComment<CR>
vnoremap ii <ESC>

"File Explore
Plug 'preservim/nerdtree'
set NERDTree
nnoremap <leader>e :NERDTreeToggle<CR>
nnoremap <leader>o :NERDTreeFocus<CR>

"LSP
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>lq :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>lo :action OptimizeImports<CR>
nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lg :action Generate<CR>

"Goto
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>



"Debugging and Run
nnoremap <leader>rs :action ContextRun<CR>
" -run current file
nnoremap <leader>rc :action RunClass<CR> 
nnoremap <leader>rf :action ChooseRunConfiguration<CR>
nnoremap <leader>ru :action ActivateRunToolWindow<CR>


nnoremap <leader>dt :action ToggleLineBreakpoint<CR>
nnoremap <leader>ds :action ContextDebug<CR>
nnoremap <leader>du :action ActivateDebugToolWindow<CR>
nnoremap <leader>db :action ViewBreakpoints<CR>
nnoremap <leader>df :action ChooseDebugConfiguration<CR>

" File Navigation
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fm :action MainMenu<CR>
nnoremap <leader>ft :action ActivateTODOToolWindow<CR>

" Projects
nnoremap <leader>p :action ManageRecentProjects<CR>


"Git
nnoremap [g :action VcsShowPrevChangeMarker<CR>
nnoremap ]g :action VcsShowNextChangeMarker<CR>
nnoremap <leader>gp :action Vcs.Push<CR>
nnoremap <leader>gu :action Vcs.UpdateProject<CR>
"nnoremap <leader>gd :action Vcs.ChangesView<CR>



"Window Management
nnoremap <leader>x :action HideActiveWindow<CR>

" Refresh ideavimrc
nnoremap <leader>rr :action Ideavim.ReloadVimRc.reload<CR>





